{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/cours.css') }}">
<script src="{{url_for('static', filename='js/materials.js')}}"></script>


{% endblock %}

{% block content %}

<main>

    <div class="previous">
        <a id="previous" href="">
            <img src="{{ url_for('static', filename='assets/previous.png') }}" alt="">
        </a>
    </div>

    <div class="next">
        <a id="next" href="">
            <img src="{{ url_for('static', filename='assets/next.png') }}" alt="">
        </a>
    </div>

    <div class="lesson selectedLesson" id="protections"></div>
    <div class="lesson" id="verrerie"></div>
    <div class="lesson" id="instruments"></div>
    <div class="lesson" id="accessories"></div>
    

    {% if lessonId %}
    <script>
        const next = document.querySelector("#next");
        const previous = document.querySelector("#previous");
        const allLessons = document.querySelectorAll(".lesson");
        const lessonChosen = document.getElementById("{{lessonId}}");
        const materials = window.data["{{lessonId}}"];

        const select = selector => document.querySelector(selector);
        const selectAll = (loc=document, selector) => loc.querySelectorAll(selector);
        const create = el => document.createElement(el);
        const getId = id => document.getElementById(id);
    </script>
    {% endif %}

</main>



{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/changeLesson.js') }}"></script>
<script src="{{ url_for('static', filename='js/cours.js') }}"></script>


{% endblock %}
